<!DOCTYPE html>
<html>
  <head>
    <title>ProjectOne</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <nav>
  <%= link_to "Home" , root_path %>

    <% if @current_trainer.present? %>
      <%= link_to "All Users", users_path %>
      <%= link_to "All Trainers", trainers_path %>
      <%= link_to "Logout #{ @current_trainer.name }", login_path, :method => 'delete' %>
    <% elsif @current_user.present? %>
      <%= link_to "All trainers", trainers_path %>
      <%= link_to "Logout #{ @current_user.name }"%>
    <% else %>
        <%= link_to 'Sign in', login_path %>
        <%= link_to 'Sign up', new_user_path %>
  <% end %>
  </nav>

    <%= yield %>

  </body>
</html>
