<!DOCTYPE html>
<html>
  <head>
    <title>ProjectOne</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <div class="">

        <nav class="nav">

          <ul>
            <li>
                  <%= link_to "Home" , root_path, :class => 'btn' %>
            </li>
            <li><ion-icon name="people"></ion-icon><%= link_to "See Our Trainers", trainers_path, :class => 'btn'%></li>
            <% if @current_user.present?  %>
              <li><ion-icon name="person-circle-outline"></ion-icon><%= link_to "Book Session", new_booking_path, :class => 'btn'%></li>
            <% else %>
              <li><ion-icon name="person"></ion-icon><%= link_to 'Member Login', login_path, :class => 'btn' %></span>
            <% end %>
            <% if @current_user.present? %>
              <li><ion-icon name="person-remove"></ion-icon><%= link_to "Logout", login_path, :method => 'delete', :class => 'btn'%></li>
            <% else %>
              <li><ion-icon name="person-add"></ion-icon><%= link_to 'Sign up', new_user_path , :class => 'btn'%></li>
            <% end %>
          </ul>
        </nav>

        <%= yield %>

      </div>
      <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
      <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
  </body>
</html>
